
@import "compass/reset";
@import "compass/css3";

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.full-screen {
  height: 100%;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$ref_height: 647px;
$ref_width: 375px;
$TextColor: #ffffff;
$BWSeaGreen: #2a5461;
$BWRed: #9a032e;
$BWSlate: #416757;
$slateGreen: #698f64;
$BWLightBlue: #ade7ed;
$FBBlue: #3b5998;
$GoogleRed: #dd4b39;
$deactiveGrey: #c7c7cc;
$BWGrey: #b7b6ad;
$lightGrey: #dddddd;
$darkGrey: #4a4a4a;
$blueGrey: #a4b7bb;
//$passGreen: #417505;
$passGreen: #5b9c0f;
$doubleRed: #d0021b;
$redoubleBlue: #000099;
$suitRed: #cb1517;
$white: #ffffff;
$black: #000000;
$brightRed: #d0021b;
$selectedLevelColor: $BWSeaGreen;
$menu_items: vote create history alerts account;

@mixin top($top) {
  top: $top/$ref_height * 100vh;
}

@mixin height($height) {
  height: $height/$ref_height * 100vh;
}

@mixin left($left) {
  left: $left/$ref_width * 100vw;
}

@mixin width($width) {
  width: $width/$ref_width * 100vw;
}

@mixin background_size($height, $width) {
  $background_width: $width/$ref_width * 100vw;
  $background_height: $height/$ref_height * 100vh;
  background-size: $background_width $background_height;
}

@mixin location($top, $height:null, $width:null, $left:null) {
  display: block;
  position: fixed;
  @include top($top);
  @if ($height) {
    @include height($height);
  }
  @if ($left) {
    @include left($left);
  }
  @if ($width) {
    @include width($width);
  }
}

@mixin font($font_size) {
  font-family: SFUIDisplay;
  font-size: ($font_size/20px) * (20px/$ref_height) * 100vh;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
  text-shadow: none;
}

@mixin background-contain() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@mixin background-cover() {
  background-repeat: no-repeat;
  background-size: cover;
}

.inline-block {
  display: inline;
}

%highlight {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

%flex-vertical-center {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}
%flex-vertical-center2 {
  display: flex !important;
  align-items: center;
}

%vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

%horizontal-center {
  left: 0;
  right: 0;
  margin: 0 auto;
}

%icon {
  content: "";
  display: block;
  @include background-contain();
  width: 20px;
  height: 20px;
  float: left;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.center {
  display: block;
	@extend %horizontal-center;
}

[data-suit="d"], [data-suit="h"], .bw_hearts, .bw_diamonds {
  color: $suitRed;
}

#confirmation-popup-content {
  @include font(24px);
  color: $darkGrey;
}

#vote-page.bidding {
  description {
    @include location(339px, 57px, 375px);
  }
}

#vote-page.lead {
  description {
    @include location(259px, 87px, 375px);
  }
}

#create-page {
  #hand-header {
    @include location(54px, 20px, 360px, 15px);
    @include font(17px);
    letter-spacing: -0.4px;
    color: $darkGrey;
    text-align: left;
  }
  #hand {
    @include location(89px, 66px, 345px, 15px);
    z-index: -2;
    hand, content {
      display: block;
      width: 100%;
      height: 100%;
    }
    cards {
      display: inline-block;
      height: 100%;
    }
    card {
        position: absolute;
        color: transparent;
        text-indent: -9999px;
        @include height(66px);
        @include width(48px);
        cursor: pointer;
    }
    card.unassigned {
      @include border-radius(5px);
      background-color: $lightGrey;
      border: solid 1px #979797;
    }
    $suits: s h d c;
    $ranks: a k q j t 9 8 7 6 5 4 3 2;
    [data-suit][data-rank] {
      @include background-cover();
    }
    @each $suit in $suits {
      [data-suit="#{$suit}"][data-rank="x"] {
        background-image: url("img/#{$suit}x.png");
      }
      @each $rank in $ranks {
        [data-suit="#{$suit}"][data-rank="#{$rank}"] {
          background-image: url("img/#{$suit}#{$rank}.png");
        }
      }
    }
    @for $i from 1 through 13 {
      [data-card-number="#{$i}"] {
        $left: ($i - 1) * 25px;
        @include left($left);
      }
    }
  }
  #deck-header {
    @include location(184px, 20px, 360px, 15px);
    @include font(17px);
    letter-spacing: -0.4px;
    color: $darkGrey;
    text-align: left;
  }
  #deck {
    card-deck, content {
      display: block;
      width: 100%;
      height: 100%;
    }
    card {
        position: absolute;
        color: transparent;
        text-indent: -9999px;
        @include height(66px);
        @include width(48px);
        cursor: pointer;
    }
    $suits: s h d c;
    $ranks: a k q j t 9 8 7 6 5 4 3 2;
    [data-suit][data-rank] {
      @include background-cover();
    }
    @each $suit in $suits {
      [data-suit="#{$suit}"][data-rank="x"].unassigned {
        background-image: url("img/#{$suit}x.png");
      }
      @each $rank in $ranks {
        [data-suit="#{$suit}"][data-rank="#{$rank}"].unassigned {
          background-image: url("img/#{$suit}#{$rank}.png");
        }
      }
    }
    card.assigned {
      @include border-radius(5px);
      background-color: $lightGrey;
      border: solid 1px #979797;
    }
    @for $i from 1 through 56 {
      [data-card-number="#{$i}"] {
        $left: (($i - 1) % 14) * 23px + 16px;
        $row_num: 0;
        @if $i > 42 {
          $row_num: 3;
        }
        @else if $i > 28 {
          $row_num: 2;
        }
        @else if $i > 14 {
          $row_num: 1;
        }
        @else {
          $row_num: 0;
        }
        @include left($left);
        @include top(($row_num * 80px) + 170px);
      }
    }
  }
  #scoring-header, #vulnerability-header, #dealer-header, #description-header, #problem-header {
    @include font(17px);
    font-weight: 600;
    letter-spacing: -0.4px;
    color: $darkGrey;
    text-align: left;
  }
  #problem-header {
    @include location(184px, 20px, 345px, 15px);
  }
  #problem {
    problemtypes{
      @include location(209px, 44px, 345px, 15px);
      display: table;
      table-layout: fixed;
      @include border-radius(5px);
      border: solid 1px #979797;
      background-color: $deactiveGrey;
    }
    problemtype {
      display: table-cell;
      vertical-align: middle;
      @include font(17px);
      font-weight: 600;
      letter-spacing: 0.6px;
      color: $darkGrey;
      cursor: pointer;
    }
    problemtype:not(:last-child) {
      border-right: solid 1px #979797;
    }
    problemtype.current {
      background-color: $BWSeaGreen;
      color: $white;
      cursor:default;
    }
  }
  #scoring-header {
    @include location(264px, 20px, 345px, 15px);
  }
  #scoring {
    scoringtypes{
      @include location(289px, 44px, 345px, 15px);
      display: table;
      table-layout: fixed;
      @include border-radius(5px);
      border: solid 1px #979797;
      background-color: $deactiveGrey;
    }
    scoringtype {
      display: table-cell;
      vertical-align: middle;
      @include font(17px);
      font-weight: 600;
      letter-spacing: 0.6px;
      color: $darkGrey;
      cursor: pointer;
    }
    scoringtype:not(:last-child) {
      border-right: solid 1px #979797;
    }
    scoringtype.current {
      background-color: $BWSeaGreen;
      color: $white;
      cursor:default;
    }
  }
  #vulnerability-header {
    @include location(353px, 20px, 345px, 15px);
  }
  #vulnerability {
    vulnerabilities {
      @include location(378px, 44px, 345px, 15px);
      display: table;
      table-layout: fixed;
      @include border-radius(5px);
      border: solid 1px #979797;
      background-color: $deactiveGrey;
    }
    vulnerability {
      display: table-cell;
      vertical-align: middle;
      @include font(17px);
      font-weight: 600;
      letter-spacing: 0.6px;
      color: $darkGrey;
      cursor: pointer;
    }
    vulnerability:not(:last-child) {
      border-right: solid 1px #979797;
    }
    vulnerability.current {
      background-color: $BWSeaGreen;
      color: $white;
      cursor:default;
    }
  }
  #dealer-header {
    @include location(442px, 20px, 360px, 15px);
  }
  #dealer {
    directions {
      @include location(467px, 44px, 345px, 15px);
      display: table;
      table-layout: fixed;
      @include border-radius(5px);
      border: solid 1px #979797;
      background-color: $deactiveGrey;
    }
    direction {
      display: table-cell;
      vertical-align: middle;
      @include font(17px);
      font-weight: 600;
      letter-spacing: 0.6px;
      color: $darkGrey;
      cursor: pointer;
    }
    direction:not(:last-child) {
      border-right: solid 1px #979797;
    }
    direction.current {
      background-color: $BWSeaGreen;
      color: $white;
      cursor:default;
    }
  }
  #hand-hider {
    @include location(129px, 36px, 375px, 15px);
    z-index: -1;
  }
  #auction {
    @include location(138px, 130px, 230px, 15px);
    @include font(20px);
    background-color: $white;
    border: solid 2px $BWSlate;
    section {
      height: 100%;
    }
    auction {
      display: block;
      height: 100%;
    }
    content {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      height: 81.5%;
    }
    directions, calls {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    directions {
      @include font(20px);
      height: 18.5%;
      border-bottom: solid 2px $BWSlate;
    }
    calls {
      @include font(25px);
    }
    row {
      display: table-row;
      width: 100%;
    }
    direction, call {
      display: table-cell;
    }
    direction {
      font-weight: 600;
      letter-spacing: -0.8px;
      text-align: center;
      color: $black;
      background-color: $white;
    }
    direction[data-vulnerable] {
      color: $white;
      background-color: $brightRed;
    }
    call {
      font-weight: 600;
      letter-spacing: -0.5px;
      text-transform: uppercase;
    }
  }
  #special_calls {
    call {
      @extend %flex-vertical-center;
      @include border-radius(5px);
      @include font(17px);
      font-weight: 600;
      letter-spacing: 0.6px;
      cursor: not-allowed;
    }
    call.enabled {
      cursor: pointer;
    }
    call[data-call="u"] {
      @include location(138px, 40px, 105px, 255px);
      background-color: $black;
      color: $white;
    }
    call[data-call="x"] {
      @include location(183px, 40px, 105px, 255px);
      background-color: $doubleRed;
      color: $white;
    }
    call[data-call="r"] {
      @include location(183px, 40px, 105px, 255px);
      background-color: $redoubleBlue;
      color: $white;
    }
    call[data-call="p"] {
      @include location(228px, 40px, 105px, 255px);
      background-color: $passGreen;
      color: $white;
    }
    call[data-call="p"].disabled, call[data-call="u"].disabled, call[data-call="x"].disabled, call[data-call="r"].disabled {
      background-color: $darkGrey;
      color: $deactiveGrey;
    }
  }
  #bidding-box {
    @include location(283px, 245px, 345px, 15px);
    @include font(16px);
    font-weight: 600;
    letter-spacing: -0.5px;
    color: $black;
    row {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    call {
      @include height(35px);
      display: table-cell;
      vertical-align: middle;
      border: solid 1px $BWSeaGreen;
      background-color: $blueGrey;
      text-transform: uppercase;
      cursor: pointer;
    }
    call.disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
  #description-header {
    @include location(259px, 20px, 360px, 15px);
  }
  #description {
    @include location(284px, 240px, 376px);
  }
  .button {
    @include font(17px);
    @include border-radius(5px);
    color: $darkGrey;
    background-color: $lightGrey;
  }
  .button.enabled {
    color: $white;
    background-color: $BWRed;
    cursor: pointer;
  }
  #create-reset-button {
    @extend %flex-vertical-center;
    @include location(535px, 44px, 169px, 15px);
  }
  #create-continue-button {
    @extend %flex-vertical-center;
    @include location(535px, 44px, 169px, 191px);
  }
  #create-review-page {
    name {
      @include location(59px, 35px, 200px, 56px);
    }
    auctioncontainer {
      @include location(109px, 135px, 230px, 15px);
    }
    infowrapper {
        @include location(109px, 135px, 105px, 255px);
    }
    vulnerability[data-direction="e"] {
      @include location(139px, 76px, 21px, 332px);
    }
    vulnerability[data-direction="w"] {
      @include location(139px, 76px, 21px, 262px);
    }
    scoring {
      @include location(139px, 76px, 53.1px, 281px);
    }
    vulnerability[data-direction="n"] {
      @include location(116px, 25px, 53.1px, 281px);
    }
    vulnerability[data-direction="s"] {
      @include location(213px, 25px, 53.1px, 281px);
    }
    description {
      @include location(339px, 175px, 375px);
    }
    handcontainer {
      @include location(258px, 66px, 349px, 13px);
    }
    #create-save-button {
      @extend %flex-vertical-center;
      @include location(535px, 44px, 169px, 15px);
    }
    #create-publish-button {
      @extend %flex-vertical-center;
      @include location(535px, 44px, 169px, 191px);
    }
  }
  #create-review-page.show-hand-first {
      auctioncontainer {
        @include location(189px, 135px, 230px, 15px);
      }
      infowrapper {
          @include location(189px, 135px, 105px, 255px);
      }
      vulnerability[data-direction="e"] {
        @include location(219px, 76px, 21px, 332px);
      }
      vulnerability[data-direction="w"] {
        @include location(219px, 76px, 21px, 262px);
      }
      scoring {
        @include location(219px, 76px, 53.1px, 281px);
      }
      vulnerability[data-direction="n"] {
        @include location(196px, 25px, 53.1px, 281px);
      }
      vulnerability[data-direction="s"] {
        @include location(293px, 25px, 53.1px, 281px);
      }
      handcontainer {
        @include location(109px, 66px, 349px, 13px);
      }
  }
}

#footer {
  #account-avatar-inner, #account-avatar-outer {
    @extend %horizontal-center;
    $height: 30px;
    height: $height/$ref_height * 100vh;
    // Width should be same as height. So this hack.
    width: $height/$ref_height * 100vh;
    background-color: #d8d8d8;
    background-position: top center;
    border: solid 2px $BWSlate;
    @include border-radius(50%);
    @include background-contain();
    z-index: 5;
  }
}
#account-avatar-inner {
  margin-top:3px/$ref_height * 100vh;
}
#account-avatar-outer {
  margin-top:5px/$ref_height * 100vh;
}


#alerts-page {
  button.bridgewinners {
    position:relative;
    @extend %horizontal-center;
    @include font(20px);
    color: #ffffff;
    background-color: $BWRed;
    @include border-radius(5px);
    @include height(44px);
    @include width(335px);
    @include left(20px);
    cursor: pointer;
  }
  button.bridgewinners.disabled {
    color: $darkGrey;
    background-color: $lightGrey;
    cursor: not-allowed;
  }
  #alerts-wrapper {
  	position:absolute;
    $height: 550px;
  	@include location(44px);
    max-height: $height/$ref_height * 100vh;
  	width:100%;
  	overflow:auto;
    background-color: transparent;
    color:transparent;
  }
  #alerts-list {
    li {
      width: 100vw;
      opacity: 0.5;
    }
    li[data-slug] {
      opacity: 1.0
    }
    @include font(12px);
  }
  .alert {
    display: table;
    table-layout: fixed;
  }
  p {
    margin: 0;
  }

  .avatar-alert {
    display: table-cell;
    $height: 35px;
    height: $height/$ref_height * 100vh;
    // Width should be same as height. So this hack.
    width: $height/$ref_height * 100vh;
    border: solid 2px $BWSlate;
    @include border-radius(50%);
    vertical-align: middle;
  }
  .text-alert {
    display:table-cell;
    padding-left: 5px;
    white-space: normal;
    vertical-align: middle;
  }
  .name-alert {
    font-weight: 600;
    color: $BWRed;
  }
}

#history-page {
  #history-results-page-full {
    #results-container {
      @include location(44px, 490px, 375px);
    }
    deal {
      position: absolute;
      top: 0;
      left: 0;
    }
    avatar#avatar-results {
      background-color: #d8d8d8;
      border: solid 2px $BWSlate;
      @include border-radius(50%);
      @include background-contain();
      $height: 35px;
      @include location(15px, $height, $height, 15px);
      position: relative;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
    }
    name {
      @include location(15px, 35px, 200px, 56px);
      position: absolute;
    }
    votes {
      @include location(15px, 35px, 40px, 332px);
      position: absolute;
    }
    numcomments {
      @include location(15px, 35px, 40px, 292px);
      position: absolute;
    }
    // likes {
    //   @include location(59px, 35px, 40px, 252px);
    // }
    auctioncontainer {
      @include location(65px, 135px, 230px, 15px);
      position: absolute;
    }
    infowrapper {
        @include location(65px, 135px, 105px, 255px);
        position: absolute;
    }
    vulnerability[data-direction="e"] {
      @include location(95px, 76px, 21px, 332px);
      position: absolute;
    }
    vulnerability[data-direction="w"] {
      @include location(95px, 76px, 21px, 262px);
      position: absolute;
    }
    scoring {
      @include location(95px, 76px, 53.1px, 281px);
      position: absolute;
    }
    vulnerability[data-direction="n"] {
      @include location(72px, 25px, 53.1px, 281px);
      position: absolute;
    }
    vulnerability[data-direction="s"] {
      @include location(169px, 25px, 53.1px, 281px);
      position: absolute;
    }
    description {
      @include location(295px, 57px, 375px);
      position: absolute;
    }
    handcontainer {
      @include location(214px, 66px, 349px, 13px);
      position: absolute;
    }

    #answers-results-comments {
      border-top: solid 0.5px $deactiveGrey;
    }
    comments {
      padding: 5px;
      display: block;
      border-bottom: solid 1px $deactiveGrey;
      background-color: $white;
    }
    comment {
      display: table;
      width: 100%;
      @include font(17px);
      color: $darkGrey;
      text-align: left;
      .avatar-comment {
        display: table-cell;
        $height: 35px;
        height: $height/$ref_height * 100vh;
        // Width should be same as height. So this hack.
        width: $height/$ref_height * 100vh;
        border: solid 2px $BWSlate;
        @include border-radius(50%);
        vertical-align: middle;
        white-space: nowrap;
      }
      comment-text {
        display:table-cell;
        padding-left: 5px;
        white-space: normal;
        vertical-align: middle;
        width: 99%;
      }
      comment-name {
        font-weight: 600;
        color: $BWRed;
        display: block;
      }
    }
    reply {
      margin: 10px;
      padding: 5px;
      display: table;
      width: 100%;
      @include font(17px);
      background-color: $BWGrey;
      margin-top: 5px;
      color: $darkGrey;
      text-align: left;
      .avatar-reply {
        display: table-cell;
        $height: 35px;
        height: $height/$ref_height * 100vh;
        // Width should be same as height. So this hack.
        width: $height/$ref_height * 100vh;
        border: solid 2px $BWSlate;
        @include border-radius(50%);
        vertical-align: middle;
        white-space: nowrap;
      }
      reply-text {
        display:table-cell;
        padding-left: 5px;
        white-space: normal;
        vertical-align: middle;
        width: 99%;
      }
      reply-name {
        font-weight: 600;
        color: $BWRed;
        display: block;
      }
    }
    #answers-results {
      @include location(356px, 130px, 375px);
      position: absolute;
      .my_answer {
        font-weight: bold;
        color: $BWRed;
      }
    }
    .answer-result {
      display: table;
      table-layout: fixed;
      width: 100%;
      @include font(20px);
    }
    .answer-result-column {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
    }
    .answer-result-avatar {
      width: 50%;
    }
    .answer-result-avatar-imgs {
      display:table;
      table-layout: fixed;
      width: 100%;
    }
    .answer-result-avatar-img {
      display: table-cell;
      $height: 40px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
    }
    .avatar-result {
      $height: 40px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
      border: solid 2px $BWSlate;
      @include border-radius(50%);
      vertical-align: middle;
    }
    .button {
      @include font(17px);
      @include border-radius(5px);
      color: $darkGrey;
      background-color: $lightGrey;
    }
    .button.enabled {
      color: $white;
      background-color: $BWRed;
      cursor: pointer;
    }
    .show-next-problem {
      #history-next-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 249px);
      }
      #history-revote-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 15px);
      }
      #history-voters-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 132px);
      }
    }
    .dont-show-next-problem {
      #history-next-button {
        display: none;
        visibility: hidden;
      }
      #history-revote-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 169px, 15px);
      }
      #history-voters-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 169px, 191px);
      }
    }
  }
  #history-results-page {
    // #results-container {
    //   @include location(44px, 490px, 375px);
    // }
    name {
      @include location(59px, 35px, 200px, 56px);
    }
    votes {
      @include location(59px, 35px, 40px, 332px);
    }
    numcomments {
      @include location(59px, 35px, 40px, 292px);
    }
    // likes {
    //   @include location(59px, 35px, 40px, 252px);
    // }
    auctioncontainer {
      @include location(109px, 135px, 230px, 15px);
    }
    infowrapper {
        @include location(109px, 135px, 105px, 255px);
    }
    vulnerability[data-direction="e"] {
      @include location(139px, 76px, 21px, 332px);
    }
    vulnerability[data-direction="w"] {
      @include location(139px, 76px, 21px, 262px);
    }
    scoring {
      @include location(139px, 76px, 53.1px, 281px);
    }
    vulnerability[data-direction="n"] {
      @include location(116px, 25px, 53.1px, 281px);
    }
    vulnerability[data-direction="s"] {
      @include location(213px, 25px, 53.1px, 281px);
    }
    description {
      @include location(339px, 57px, 375px);
    }
    handcontainer {
      @include location(258px, 66px, 349px, 13px);
    }

    #answers-results-comments {
      border-top: solid 0.5px $deactiveGrey;
    }
    comments {
      padding: 5px;
      display: block;
      border-bottom: solid 1px $deactiveGrey;
      background-color: $white;
    }
    comment {
      display: table;
      width: 100%;
      @include font(17px);
      color: $darkGrey;
      text-align: left;
      .avatar-comment {
        display: table-cell;
        $height: 35px;
        height: $height/$ref_height * 100vh;
        // Width should be same as height. So this hack.
        width: $height/$ref_height * 100vh;
        border: solid 2px $BWSlate;
        @include border-radius(50%);
        vertical-align: middle;
        white-space: nowrap;
      }
      comment-text {
        display:table-cell;
        padding-left: 5px;
        white-space: normal;
        vertical-align: middle;
        width: 99%;
      }
      comment-name {
        font-weight: 600;
        color: $BWRed;
        display: block;
      }
    }
    reply {
      margin: 10px;
      padding: 5px;
      display: table;
      width: 100%;
      @include font(17px);
      background-color: $BWGrey;
      margin-top: 5px;
      color: $darkGrey;
      text-align: left;
      .avatar-reply {
        display: table-cell;
        $height: 35px;
        height: $height/$ref_height * 100vh;
        // Width should be same as height. So this hack.
        width: $height/$ref_height * 100vh;
        border: solid 2px $BWSlate;
        @include border-radius(50%);
        vertical-align: middle;
        white-space: nowrap;
      }
      reply-text {
        display:table-cell;
        padding-left: 5px;
        white-space: normal;
        vertical-align: middle;
        width: 99%;
      }
      reply-name {
        font-weight: 600;
        color: $BWRed;
        display: block;
      }
    }
    #answers-results {
      @include location(400px, 130px, 375px);
      .my_answer {
        font-weight: bold;
        color: $BWRed;
      }
    }
    .answer-result {
      display: table;
      table-layout: fixed;
      width: 100%;
      @include font(20px);
    }
    .answer-result-column {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      text-transform: uppercase;
    }
    .answer-result-avatar {
      width: 50%;
    }
    .answer-result-avatar-imgs {
      display:table;
      table-layout: fixed;
      width: 100%;
    }
    .answer-result-avatar-img {
      display: table-cell;
      $height: 40px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
    }
    .avatar-result {
      $height: 40px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
      border: solid 2px $BWSlate;
      @include border-radius(50%);
      vertical-align: middle;
    }
    .button {
      @include font(17px);
      @include border-radius(5px);
      color: $darkGrey;
      background-color: $lightGrey;
    }
    .button.enabled {
      color: $white;
      background-color: $BWRed;
      cursor: pointer;
    }
    .show-next-problem {
      #history-next-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 249px);
      }
      #history-revote-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 15px);
      }
      #history-voters-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 110px, 132px);
      }
    }
    .dont-show-next-problem {
      #history-next-button {
        display: none;
        visibility: hidden;
      }
      #history-revote-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 169px, 15px);
      }
      #history-voters-button {
        @extend %flex-vertical-center;
        @include location(535px, 44px, 169px, 191px);
      }
    }
  }
  #history-menu {
    @include location(44px, 44px, 375px);
    @include font(17px);
    font-weight: 600;
    letter-spacing: -0.4px;
    color: $darkGrey;
    background-color: $lightGrey;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  #history-responses-menu {
    @include location(44px, 44px, 375px);
    @include font(17px);
    line-height: 1.59;
    letter-spacing: -0.5px;
    color: $darkGrey;
    background-color: $white;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: solid 0.5px $deactiveGrey;
    text-transform: uppercase;
  }
  .history-no-responses {
    text-transform: capitalize;
  }
  .answers-no-responses {
    padding: 5px;
    text-transform: capitalize;
  }
  #history-responses-sections {
    @include location(96px, 22px, 349px, 13px);
    @include font(17px);
    line-height: 1.29;
    letter-spacing: -0.4px;
    color: $darkGrey;
    text-align: left;
  }
  .history-response-voters {
    @include location(120px, 460px, 349px, 13px);
    @include font(13px);
    font-weight: 600;
    color: $BWRed;
    a {
      padding: 5px;
    }
    p {
      margin: 0;
    }
    .avatar-response {
      $height: 25px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
      border: solid 2px $BWSlate;
      @include border-radius(50%);
      vertical-align: middle;
    }
    .name-response {
      margin-left: 5px;
      font-weight: 600;
      color: $BWRed;
    }
  }
  .history-menu-item, .history-response-item {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
  }
  .history-menu-item.selected {
    background-color: $slateGreen;
    color: $white;
  }
  .history-response-item.my_answer {
    font-weight: bold;
    color: $BWRed;
  }
  .history-response-item.selected {
    border-bottom: solid 3px $BWRed;
  }
  .history-header {
    @include location(88px, 90px, 375px);
    @include font(17px);
    text-align: left;
    background-color: $white;
    border: solid 0.5px $deactiveGrey;
    letter-spacing: -0.4px;
    color: $darkGrey;
    padding: 10px;
  }
  button.bridgewinners {
    position:relative;
    @extend %horizontal-center;
    @include font(20px);
    color: #ffffff;
    background-color: $BWRed;
    @include border-radius(5px);
    @include height(44px);
    @include width(335px);
    @include left(20px);
    cursor: pointer;
  }
  button.bridgewinners.disabled {
    color: $darkGrey;
    background-color: $lightGrey;
    cursor: not-allowed;
  }
  #history-voted-wrapper, #history-published-wrapper {
    position:absolute;
    $height: 490px;
  	@include location(88px);
    max-height: $height/$ref_height * 100vh;
  	width:100%;
  	overflow:auto;
    background-color: transparent;
    color:transparent;
  }
  .history-list {
    section {
      display: inline-block;
    }
    a {
      padding-bottom: 5px;
    }
    p {
      margin: 0;
    }
    .history-list-row {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .history-list-cell {
      display: table-cell;
      vertical-align: middle;
    }
    .avatar-container {
      width: 12%;
      text-align: center;
      padding-right: 2vw;
    }
    .history-list-cell
    rank[data-suit="d"], rank[data-suit="h"] {
      color: $black;
    }
    rank, suit {
      @include font(15px);
      font-weight: 600;
    }
    rank {
      color: $darkGrey;
      text-transform: uppercase;
    }
    rank[data-rank="x"] {
      text-transform: lowercase;
    }
    row {
      margin-right: 2vw;
    }
    .avatar {
      $height: 35px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
      border: solid 2px $BWSlate;
      @include border-radius(50%);
      vertical-align: middle;
    }
    .name {
      @include font(16px);
      font-weight: 600;
      color: $BWRed;
      margin-left: 10px;
    }
    .answer, .percentage {
      @include font(14px);
      font-weight: 600;
      color: $darkGrey;
      width: 10%;
    }
    suit[data-suit='n'] {
      text-transform: capitalize;
    }
    .percentage {
      @include width(30px);
    }
    .stats {
      @include font(14px);
      font-weight: 600;
      color: $darkGrey;
      margin-right: 10px;
    }
    .icon {
      $height: 12px;
      height: $height/$ref_height * 100vh;
      // Width should be same as height. So this hack.
      width: $height/$ref_height * 100vh;
      vertical-align: middle;
      margin-right: 2px;
    }
    .ui-btn {
      background-color: $white;
    }
  }
}

deal {
  name {
    @extend %flex-vertical-center2;
    @include font(17px);
    text-align: left;
    color: $darkGrey;
  }
  user {
    color: $BWRed;
    font-weight: 600;
    margin-right: 1vw;
  }
  votes {
    @extend %flex-vertical-center2;
    @include font(17px);
    color: $BWRed;
    font-weight: 600;
  }
  votes:before {
    background: url("img/answers.png") no-repeat;
    content: "";
    display: block;
    @include background-contain();
    width: 20px;
    height: 20px;
    float: left;
  }
  numcomments {
    @extend %flex-vertical-center2;
    @include font(17px);
    color: $BWRed;
    font-weight: 600;
  }
  numcomments:before {
    background: url("img/comments.png") no-repeat;
    content: "";
    display: block;
    @include background-contain();
    width: 20px;
    height: 20px;
    float: left;
  }
  // likes {
  //   @extend %flex-vertical-center2;
  //   @include font(17px);
  //   color: $BWRed;
  //   font-weight: 600;
  // }
  // likes:before {
  //     background: url("img/likes.png") no-repeat;
  //     content: "";
  //     display: block;
  //     @include background-contain();
  //     width: 20px;
  //     height: 20px;
  //     float: left;
  //     //margin-right: 1vw;
  // }
  auctioncontainer {
    @include font(20px);
    background-color: $white;
    border: solid 2px $BWSlate;
    section {
      height: 100%;
    }
    auction {
      display: block;
      height: 100%;
    }
    directions, calls {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    directions {
      @include font(20px);
      height: 17.77%;
      border-bottom: solid 2px $BWSlate;
    }
    content {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      height: 82.23%;
    }
    calls {
      @include font(25px);
    }
    row {
      display: table-row;
      width: 100%;
    }
    direction, call {
      display: table-cell;
    }
    direction {
      font-weight: 600;
      letter-spacing: -0.8px;
      text-align: center;
      color: $black;
      background-color: $white;
    }
    direction[data-vulnerable] {
      color: $white;
      background-color: $brightRed;
    }
    call {
      font-weight: 600;
      letter-spacing: -0.5px;
      text-transform: uppercase;
    }
  }
  [data-vulnerable="yes"] {
    color: $white;
    background-color: $brightRed;
  }
  [data-vulnerable="no"] {
    color: $black;
    background-color: $white;
  }
  infowrapper {
    background-color: $lightGrey;
    border: solid 2px $BWSlate;
  }
  vulnerabilities {
    vulnerability {
      @extend %flex-vertical-center;
      text-align: center;
      text-shadow: none;
      border: solid 2px $BWSlate;
      z-index: 1;
    }
    vulnerability[data-direction="e"] {
      border-left: 0;
    }
    vulnerability[data-direction="w"] {
      border-right: 0;
    }
  }
  scoring {
    @extend %flex-vertical-center;
    background-color: $BWLightBlue;
    border: solid 2px $BWSlate;
    text-align: center;
    color: $black;
    z-index: 1;
    word-wrap: break-word;
  }
  description {
    @include font(17px);
    color: $darkGrey;
    text-align: justify;
    padding: 5px;
    background-color: $white;
    border: solid 1px $deactiveGrey;
  }
  handcontainer, leadbox {
    hand, content {
      display: block;
      width: 100%;
      height: 100%;
    }
    cards {
      display: inline-block;
      height: 100%;
    }
    card {
        position: absolute;
        color: transparent;
        text-indent: -9999px;
        @include height(66px);
        @include width(48px);
        cursor: pointer;
    }
    $suits: s h d c;
    $ranks: a k q j t 9 8 7 6 5 4 3 2 x;
    [data-suit][data-rank] {
      @include background-cover();
    }
    @each $suit in $suits {
      @each $rank in $ranks {
        [data-suit="#{$suit}"][data-rank="#{$rank}"] {
          background-image: url("img/#{$suit}#{$rank}.png");
        }
        [data-suit="#{$suit}"][data-rank="#{$rank}"].selected {
          background-image:
            linear-gradient(
              rgba(255, 255, 0, 0.45),
              rgba(255, 255, 0, 0.45)
            ),
            url("img/#{$suit}#{$rank}.png");
        }
      }
    }
  }
  handcontainer {
    @for $i from 1 through 13 {
      [data-card-number="#{$i}"] {
        $left: ($i - 1) * 25px;
        @include left($left);
      }
    }
  }
  leadbox {
    card {
      @include left(150px);
      transform-origin: center 60vw;
    }
    $end_angle: 45deg;
    $increment_angle: 7.5deg;
    @for $i from 1 through 13 {
      [data-card-number="#{$i}"] {
        $angle: ($i - 1) * $increment_angle - $end_angle;
        transform: rotate($angle);
      }
      [data-card-number="#{$i}"].selected {
        $angle: ($i - 1) * $increment_angle - $end_angle;
        transform: rotate($angle) translateY(-10px) ;
      }
    }
  }
  biddingbox {
    @include font(30px);
    font-weight: 600;
    letter-spacing: -0.9px;
    color: $black;
    levels, calls {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    level, call {
      display: table-cell;
      height: 50%;
      border: solid 1px $BWSeaGreen;
      background-color: $blueGrey;
      text-transform: uppercase;
      cursor: pointer;
    }
    level.disabled, call.disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
    call[data-call="p"] {
      background-color: $passGreen;
      color: $white;
    }
    call[data-call="x"] {
      background-color: $doubleRed;
      color: $white;
    }
    call[data-call="r"] {
      background-color: $redoubleBlue;
      color: $white;
    }
    level.selected, call.selected {
      [data-suit="d"], [data-suit="h"] {
        color: $white;
      }
      background-color: $BWSeaGreen;
      color: $white;
    }
  }
}

/* Bidding vote page styles. */
#vote-page {
  .no-more-voting-problems {
    padding: 1vw;
    @include font(17px);
    color: $darkGrey;
  }
  name {
    @include location(59px, 35px, 200px, 56px);
  }
  numcomments {
    @include location(59px, 35px, 40px, 316px);
  }
  // likes {
  //   @include location(59px, 35px, 40px, 262px);
  // }
  auctioncontainer {
    @include location(109px, 135px, 230px, 15px);
  }
  infowrapper {
      @include location(109px, 135px, 105px, 255px);
  }
  vulnerability[data-direction="e"] {
    @include location(139px, 76px, 21px, 332px);
  }
  vulnerability[data-direction="w"] {
    @include location(139px, 76px, 21px, 262px);
  }
  scoring {
    @include location(139px, 76px, 53.1px, 281px);
  }
  vulnerability[data-direction="n"] {
    @include location(116px, 25px, 53.1px, 281px);
  }
  vulnerability[data-direction="s"] {
    @include location(213px, 25px, 53.1px, 281px);
  }
  handcontainer {
    @include location(258px, 66px, 349px, 13px);
  }
  leadbox {
    @include location(350px, 200px, 343px, 16px);
  }
  biddingbox {
    @include location(411px, 96px, 343px, 16px);
  }
  .button {
    @include font(17px);
    @include border-radius(5px);
    color: $darkGrey;
    background-color: $lightGrey;
  }
  .button.enabled {
    color: $white;
    background-color: $BWRed;
    cursor: pointer;
  }
  #skip-submit-button {
    @extend %flex-vertical-center;
    @include location(539px, 44px, 105px, 15px);
  }
  #abstain-submit-button {
    @extend %flex-vertical-center;
    @include location(539px, 44px, 105px, 135px);
  }
  #vote-submit-button {
    @extend %flex-vertical-center;
    @include location(539px, 44px, 105px, 255px);
  }
  #refresh-problem-button {
    @extend %flex-vertical-center;
    @include location(150px, 44px, 345px, 15px);
  }
}
#vote-page.show-hand-first {
  auctioncontainer {
    @include location(189px, 135px, 230px, 15px);
  }
  infowrapper {
    @include location(189px, 135px, 105px, 255px);
  }
  vulnerability[data-direction="e"] {
    @include location(219px, 76px, 21px, 332px);
  }
  vulnerability[data-direction="w"] {
    @include location(219px, 76px, 21px, 262px);
  }
  scoring {
    @include location(219px, 76px, 53.1px, 281px);
  }
  vulnerability[data-direction="n"] {
    @include location(196px, 25px, 53.1px, 281px);
  }
  vulnerability[data-direction="s"] {
    @include location(293px, 25px, 53.1px, 281px);
  }
  handcontainer {
    @include location(109px, 66px, 349px, 13px);
  }
}

/* Login page styles. */
.login-page-content {
  height: 100vh;
  width: 100vw;
  background: url(img/bridgewinners_background.png) no-repeat center center fixed;
  background-size: cover;
  .bridgewinners-logo {
    display: block;
    position: fixed;
    $bottom: 425px;
    bottom: $bottom/$ref_height * 100vh;
    @include height(183px);
    @extend %horizontal-center;
  }
  input {
    @extend %horizontal-center;
    @include font(20px);
    @include border-radius(5px);
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  input.username {
    @include location(264px, 57px, 335px);
  }
  input.password {
    @include location(331px, 57px, 335px);
  }
  button {
    @extend %horizontal-center;
    @include font(20px);
    color: #ffffff;
    @include border-radius(5px);
  }
  button.bridgewinners {
    background-color: $BWRed;
    @include location(398px, 44px, 335px);
  }
  button.facebook {
    background-color: $FBBlue;
    @include location(452px, 44px, 335px);
  }
  button.google {
    background-color: $GoogleRed;
    @include location(506px, 44px, 335px);
  }
  div.signup {
    @extend %horizontal-center;
    @extend %flex-vertical-center;
    @include location(603px, 44px, 375px);
    @include font(16px);
    color: $darkGrey;
    font-weight: bold;
  }
}

body.ui-mobile-viewport {
  overflow-y: hidden;
}

.ui-page-active {
  overflow-x: visible !important;
}

.hide {
  display: none;
  visibility: hidden;
}

.carat-right {
  padding-right: 7vw;
  background-image: url('images/icons-png/carat-r-black.png');
  background-repeat: no-repeat;
  background-position: right 0.25vw center;
}

.carat-left {
  padding-left: 4vw;
  background-image: url('images/icons-png/carat-l-white.png');
  background-repeat: no-repeat;
  background-position: left 0.25vw center;
}

.header-container {
  @include font(17px);
  background-color: $BWSeaGreen;
  @include location(0px, 44px, 375px);
  @extend %flex-vertical-center;
  font-weight: 600;
  color: $TextColor;
  text-transform: capitalize;
}

.back-button-container {
  @include font(17px);
  background-color: transparent;
  @include location(0px, 44px, 375px);
  @extend %flex-vertical-center;
  font-weight: 600;
  color: $TextColor;
  text-transform: capitalize;
}

.header-text {
  color: $TextColor;
  text-transform: capitalize;
}

#back-button {
  color: $TextColor;
  float: left;
  cursor: pointer;
}

/* Footer styles. */
%footer-container {
  position: fixed;
  width: 100vw;
  bottom: 0vh;
}
.footer-inner-container {
  @extend %footer-container;
  background-color: $BWSeaGreen;
  @include height(49px);
  box-shadow: inset 0 0.5px 0 0 #b2b2b2;
  .menu-item {
    @extend %vertical-center;
    height: 90%;
    width: 20vw;
    display: inline-block;
    @include background-contain();
  }
  @each $item in $menu_items {
    .#{$item}-icon.not-selected {
      background-image: url("img/#{$item}.png");
    }
  }
  .history-icon.not-selected {
    background-position: center 2px;
  }
}
.footer-inner-container.ios {
  bottom: 20px;
}
.footer-outer-container {
  @extend %footer-container;
  @include height(55px);
  .menu-item {
    height: 100%;
    width: 20vw;
    display: inline-block;
    .menu-icon {
      @extend %vertical-center;
      height: 80%;
      @include background-contain();
    }
  }
  .selected {
    background-color: #698f64;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.86);
    border: solid 3px #2a5461;
    @include border-top-radius(10px);
    box-sizing: border-box;
    @each $item in $menu_items {
      .#{$item}-icon {
        background-image: url("img/#{$item}.png");
      }
    }
  }
}
.footer-outer-container.ios {
  bottom: 20px;
}

avatar {
  background-color: #d8d8d8;
  border: solid 2px $BWSlate;
  @include border-radius(50%);
  @include background-contain();
  $height: 35px;
  @include location(59px, $height, $height, 15px);
  // Width should be same as height. So this hack.
  width: $height/$ref_height * 100vh;
}

avatar.large {
  $height: 75px;
  @include height($height);
  // Width should be same as height. So this hack.
  width: $height/$ref_height * 100vh;
  @include left(15px);
}

#account-page {
  #profile {
    @include location(44px, 108px, 375px);
    background-color: $white;
    border: solid 0.5px $deactiveGrey;
  }

  #name {
    @extend %flex-vertical-center;
    @include location(64px, 20px, 254px, 106px);
    @include font(20px);
    text-align: left;
    font-weight: 600;
    color: $BWRed;
  }

  #edit-profile-button {
    @extend %flex-vertical-center;
    @include location(91px, 26px, 254px, 106px);
    @include font(14px);
    @include border-radius(4px);
    background-color: $lightGrey;
    font-weight: 500;
    text-align: center;
    color: $darkGrey;
  }

  #account-options {
    @include location(152px);
    width: 100vw;
    background-color: $white;
    border: solid 0.5px $deactiveGrey;
    @include font(17px);
    text-align: left;
    color: $darkGrey;
  }

  button#logout-submit-button {
    @extend %horizontal-center;
    @include font(20px);
    color: #ffffff;
    @include border-radius(5px);
    background-color: $BWRed;
    @include location(502px, 44px, 335px);
  }

  .list {
    @extend %flex-vertical-center;
    margin-left: 15px/$ref_width * 100vw;
    height: 44px/$ref_height * 100vh;
    border-bottom: solid 0.5px $deactiveGrey;
    cursor: pointer;
  }
  #about-app {
    p {
      margin-bottom: 2vh;
    }
    @include location(50px, 550px, 365px, 5px);
    @include font(17px);
    color: $darkGrey;
    text-align: left;
    margin-top: 2vh;
  }
  #account-options-list {
    @include location(50px, 550px, 375px);
  }
  .options-header {
    @include font(17px);
    position: relative;
    @include height(20px);
    @include left(15px);
    font-weight: 600;
    letter-spacing: -0.4px;
    color: $darkGrey;
    text-align: left;
    margin-top: 2vh;
  }
  settings{
    position: relative;
    @include height(44px);
    @include left(15px);
    @include width(345px);
    display: table;
    table-layout: fixed;
    @include border-radius(5px);
    border: solid 1px #979797;
    background-color: $deactiveGrey;
  }
  setting {
    display: table-cell;
    vertical-align: middle;
    @include font(17px);
    font-weight: 600;
    letter-spacing: 0.6px;
    color: $darkGrey;
    cursor: pointer;
  }
  setting:not(:last-child) {
    border-right: solid 1px #979797;
  }
  setting.current {
    background-color: $BWSeaGreen;
    color: $white;
    cursor:default;
  }
}

.main-page {
  @include location(44px);
}
