.bw-logo {
  position: absolute;
  margin: auto;
  top: 9.12vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 193px;
  height: 183px;
}

input {
  position: absolute;
  display:block;
  margin: auto;
  left: 5.33vw;
  width: 89.33vw;
  height: 8.5vh;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  font-family: SFUIDisplay;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
}

input.username {
  top: 40.8%;
}
input.password {
  top: 50.7%;
}

button {
  display: block;
  position: absolute;
  margin: auto;
  width: 89.33%;
  height: 6.6%;
  border-radius: 5px;
  font-family: SFUIDisplay;
  font-size: 100%;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffffff;
  left: 5.33%;
}

.bridgewinners {
  background-color: #9a032e;
  top: 60.74%;
}

.facebook {
  background-color: #3b5998;
  top: 69.09%;
}

.google {
  background-color: #dd4b39;
  top: 77.43%
}
