.account-header {
  width: 100vw;
  height: 6.8vh;
  -webkit-backdrop-filter: blur(10px);
  background-color: #2a5461;
  font-family: SFUIText;
  font-size: 85%;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 0vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#profile {
  position: fixed;
  top: 6.8vh;
  height: 16.69vh;
  width: 100vw;
  background-color: #ffffff;
  border: solid 0.5px #c7c7cc;
}

#account-options-page, #account-about-page {
  position: fixed;
  top: 6.8vh;
}

#avatar {
  position: fixed;
  top: 9.35vh;
  left: 4.27vw;
  width: 11.59vh;
  height: 11.59vh;
  background-color: #dddddd;
  border: solid 1px #979797;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#name {
  position: fixed;
  top: 9.89vh;
  left: 28.53vw;
  width: 67.73vw;
  height: 3.09vh;
  font-family: SFUIText;
  font-size: 85%;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#edit-profile-button {
  position: fixed;
  top: 14.96vh;
  left: 28.53vw;
  width: 67.47vw;
  height: 4.02vh;
  border-radius: 4px;
  background-color: #dddddd;
  font-family: SFUIText;
  font-size: 70%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.2px;
  text-align: center;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#account-options {
  position: absolute;
  top: 23.49vh;
  width: 100vw;
  background-color: #ffffff;
  border: solid 0.5px #c7c7cc;
  font-family: SFUIText;
  font-size: 85%
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #4a4a4a;
}

.list {
  margin-left: 4vw;
  height: 6.8vh;
  border-bottom: solid 0.5px #c7c7cc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carat-right {
  display: inline-block;
  padding-left: 5vw;
  float: right;
  height: 2vh;
  width: 1.24vh;
  background-image: url('../img/carat_right.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size:contain;
}

#logout-submit-button {
  position: absolute;
  top: 83vh;
  width: 100vw;
  height: 6.8vh;
  background-color: #ffffff;
  border: solid 0.5px #c7c7cc;
  font-family: SFUIText;
  font-size: 85%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #4a4a4a;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
