
.footer, .footer-wrapper {
  position: absolute;
  bottom: 0vh;
  display: table;
  table-layout: fixed;
  width: 100vw;
}

.footer {
  background-color: #2a5461;
  height: 7.57vh;
  border-spacing:5px;
}

.footer-wrapper {
  height: 9.43vh;
}

.footer-wrapper-cell {
  display: table-cell;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
}

.footer-wrapper-cell.selected {
  background-color: #698f64;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.86);
  border: solid 3px #2a5461;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.footer-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0;
  color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-wrapper-icon.selected {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-cell.vote-icon.not-selected {
  background-image: url("../img/vote.png");
}
.footer-cell.create-icon.not-selected {
  background-image: url("../img/create.png");
}
.footer-cell.history-icon.not-selected {
  background-image: url("../img/history.png");
}
.footer-cell.alerts-icon.not-selected {
  background-image: url("../img/alerts.png");
}
.footer-cell.account-icon.not-selected {
  background-image: url("../img/account.png");
}

.footer-wrapper-icon.vote-icon.selected {
  background-image: url("../img/vote.png");
}
.footer-wrapper-icon.create-icon.selected {
  background-image: url("../img/create.png") !important;
}
.footer-wrapper-icon.history-icon.selected {
  background-image: url("../img/history.png");
}
.footer-wrapper-icon.alerts-icon.selected {
  background-image: url("../img/alerts.png");
}
.footer-wrapper-icon.account-icon.selected {
  background-image: url("../img/account.png");
}

#avatar-wrapper-icon {
  position: fixed;
  top: 93.4vh;
  left: 88.9vw;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: #dddddd;
  border: solid 1px #979797;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(http://dummyimage.com/21x21);
}

#avatar-icon {
  position: fixed;
  top: 91.85vh;
  left: 88.85vw;
  width: 4.59vh;
  height: 4.59vh;
  border-radius: 50%;
  background-color: #dddddd;
  border: solid 1px #979797;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("http://dummyimage.com/21x21");
}
